.mail-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.mail-tools {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 14px 30px 14px 10px;
}
.mail-tools-left .MuiButtonBase-root:first-child {
  margin-left: 5px !important;
  margin-right: 30px !important;
}
.mail-tools-icon {
  color: #5a5d5c !important;
}
.mail-main {
  overflow-y: scroll;
}
.mail-main-scroll {
  margin: 20px 40px 0px 80px;
}
.mail-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}
.mail-title > h1 {
  font-weight: 200;
}
.mail-sender {
  margin-bottom: 20px;
}
.mail-sender,
.mail-sender-left,
.mail-sender-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #454847 !important;
}
.mail-sender-left-mail {
  display: flex;
  flex-direction: column;
  font-size: 13px;
  margin-left: 10px;
}
.mail-sender-left-mail .up {
  font-weight: 500;
  color: #1f1f1f;
}
.sender-email {
  font-weight: 400;
  color: #666;
  margin-left: 4px;
}
.down {
  margin-top: 5px;
  display: flex;
}
.down > p {
  margin-top: auto;
  margin-bottom: auto;
}
.down > .MuiSvgIcon-root {
  zoom: 80%;
}
.mail-sender-right > p {
  text-align: center;
  font-size: 13px;
  margin-right: 20px;
}
.mail-sender-right .MuiButtonBase-root {
  margin-left: 5px !important;
}
.mail-content {
  padding: 20px 0;
  font-size: 14px;
  line-height: 1.7;
  color: #1f1f1f;
  white-space: pre-line;
}
.mail-bottom {
  margin-top: 40px;
  margin-bottom: 80px;
}
.mail-bottom-button {
  text-transform: capitalize !important;
  padding: 5px 15px 5px 15px !important;
  margin-right: 10px !important;
  border-radius: 20px !important;
  /* self-defined */
  color: #454847 !important;
  font-weight: 500 !important;
  border: 1px solid #454847 !important;
}
.mail-bottom-button:hover {
  background-color: transparent !important;
}
